.choice-watches {
  padding: 170px 0;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  max-width: 1140px;
  margin: auto;
}

.choice-cont {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  column-gap: 150px;
}

.choice-info {
  flex: 1;
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 50px;
}

.choice-title {
  font-weight: bold;
  font-size: 55px;
}

.choice-descrp {
  font-family: Roboto, Arial;
  line-height: 28px;
  color: rgb(113, 113, 113);
}

.show-btn {
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgb(255, 32, 32);
  color: white;
  padding: 21px 28px;
  transition: background-color 0.2s;
}

.show-btn span {
  position: relative;
  z-index: 1;
}

.show-btn::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(74, 74, 75);
  content: "";
  transition: all 0.45s cubic-bezier(0.55, 1.69, 0.48, 0.67);
}

.show-btn:hover::before {
  padding-right: 100%;
}

.choice-img {
  flex: 1;
}
