/* preview */
.preview {
  position: relative;
  overflow: hidden;
  display: flex;
  background-color: rgb(242, 242, 242);
  justify-content: center;
  margin: 0;
}

.preview-cont {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  column-gap: 15%;
  max-width: 1140px;
}

.prev-info {
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 10px;
}

.prev-info-div {
  transition: 0.8s ease-out;
  opacity: 1;
  visibility: visible;
}

.prev-info-anim {
  transform: translateX(-400px);
  transition: none;
  opacity: 0;
  visibility: hidden;
}

.prev-title {
  font-family: "Josefin Sans", Arial;
  font-weight: bold;
  font-size: 80px;
  line-height: 100px;
  color: rgb(11, 28, 57);
  margin: 0;
}

.prev-descrip {
  margin: 0;
  font-size: 17px;
  line-height: 27px;
  margin-top: 30px;
  margin-bottom: 58px;
}

.shop-now {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  font-family: "Josefin Sans", Arial;
  text-decoration: none;
  color: white;
  font-size: 17px;
  background-color: rgb(74, 74, 75);
  padding: 18px 30px;
  transition: background-color 0.2s;
}

.shop-now-txt {
  position: relative;
  z-index: 1;
}

.shop-now::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 32, 32);
  content: "";
  transition: all 0.45s cubic-bezier(0.55, 1.69, 0.48, 0.67);
}

.shop-now:hover::before {
  padding-right: 100%;
}

.prev-watch {
  height: 100%;
  width: 115px;
  object-fit: cover;
  transition: transform 1.3s ease-out;
  zoom: 3;
  transform: translate(25%, 3%) scale(1.1);
}

.prev-watch-zoom {
  transition: transform 1s ease-out;
  transform: translate(25%, 3%) scale(1.15);
}

.prev-watch-anim {
  opacity: 0;
  visibility: hidden;
  transition: transform 0.2s ease-out;
  transform: translate(25%, 3%) scale(1.3);
}
