.sub-top {
  height: 550px;
  background-image: url("../watches/subfon.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-top-cont {
  max-width: 1140px;
  margin: auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sub-top-title {
  font-weight: bold;
  font-size: 70px;
  color: rgb(11, 28, 57);
}
